<nav class="navbar fixed-top">
    <div class="d-flex align-items-center navbar-left">
        <a href="#" class="ml-5"><img src="assets/img/intelgic.png" alt="logo"></a>
    </div>


    <a class="navbar-logo">
        <span class="logo d-none d-xs-block"></span>
        <span class="logo-mobile d-block d-xs-none"></span>
    </a>

    <div class="navbar-right">
        <div class="header-icons d-inline-block align-middle">
           

         

            <div class="position-relative d-inline-block">
              
            </div>
        </div>
  

        <div class="user d-inline-block">
            <button class="btn btn-empty p-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <span class="name">Ratri</span>
             
            </button>

            <div class="dropdown-menu dropdown-menu-right mt-3 pointer-cursor" style="border-radius: .75rem;">
               
                <a class="dropdown-item" style="color: white;" (click)="logout()"><i class="simple-icon-logout mr-2"></i>Sign out</a>
            </div>
            
        </div>
        <div class="user block">
            <button id="open_modal" class="btn btn-empty p-0" type="button"  aria-haspopup="true"
                aria-expanded="false">
                <span class="name">741787878</span>
            
            </button>
           

            
            
        </div>


    </div>
</nav>
