<form [formGroup]="addUserForm" (ngSubmit)="onSubmit()" style="padding: 200px;">

    <label class="form-group has-float-label mb-4">
        <input class="form-control" formControlName="name"/>
        <p>
        <span>Name</span>
    </p>
        
    </label>
                                       
    <label class="form-group has-float-label mb-4">
        <input class="form-control" formControlName="email"/>
       <p> <span>E-mail</span>
       </p>
    </label>
    <label class="form-group has-float-label mb-4">
        <input class="form-control" formControlName="phone_number"/>
       <p> <span class="color">Phone Number</span></p>
        
    </label>
    <label class="form-group has-float-label mb-4">
        <input class="form-control" formControlName="role"/>
        <p><span class="color" >Role</span></p>
        
    </label>

    <label class="form-group has-float-label mb-4">
        <input class="form-control" type="text" placeholder="" formControlName="assigned_country" />
       <p> <span>Assigned Country</span></p>
        
    </label>
    <label class="form-group has-float-label mb-4">
        <input class="form-control" type="password" placeholder="" formControlName="password" />
        <p><span>Password</span></p>
        
    </label>
    <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-primary btn-lg btn-shadow" type="submit">Save</button>
    </div>
</form>