<div class="menu">
    <div class="main-menu">
        <div class="scroll">
            <perfect-scrollbar style="max-width: 600px; max-height: 1000px;">
            
            <ul class="list-unstyled">
                <li >
                    <a routerLink="dashboard">
                        <i class="iconsminds-shop-4"></i>
                        <span>Dashboards</span>
                    </a>
                </li>
              

                <li >
                    <a routerLink="users">Users
                    </a>
                </li>
                <li >
                    <a routerLink="adduser">add user
                    </a>
                </li>


               
            </ul>
        </perfect-scrollbar>
        </div>
    </div>

</div>